contourpy==1.0.7
cosi @ git+https://github.com/TIC-Quant/coin_simulator.git@75897daec67bd4ce6b8c70992c4c5eb6b35041f3
cycler==0.11.0
fonttools==4.39.4
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.24.3
pandas==2.0.1
Pillow==9.5.0
PyJWT==2.7.0
pyparsing==3.0.9
pytz==2023.3
pyupbit==0.2.33
tzdata==2023.3
websockets==11.0.3
